* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column; 
  gap: 20px;
  width: 200px;
}

.menu {
  background-color: rgb(26, 26, 26);
  color: white;
  display: flex;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 15px 10px;
}

.menu a:hover {
  background-color: rgb(47, 47, 47);
}


